<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
      
    
 <appSettings>
    <add key="ValidationSetting:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
  <trust level="Full" originUrl=""/>
    <customErrors mode="Off" />
    <compilation targetFramework="4.7" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.codedom>
    <compilers>
      
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 0D06C21C-2405-4F3F-BA70-A83F949FF909-->